html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Noto Sans TC', 'Microsoft JhengHei', '微軟正黑體', sans-serif !important;
  position: relative;
  touch-action: manipulation;
  -webkit-overflow-scrolling: touch;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html,
button {
  touch-action: manipulation;
}

section {
  position: relative;
}

picture {
  overflow: hidden;
}

img {
  border-style: none;
  vertical-align: top;
  line-height: 0;
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: all 0.15s ease-in-out;
  cursor: pointer;
}

.btn:focus,
.btn.focus,
.navbar-toggler:focus {
  outline: none !important;
  box-shadow: none !important;
}

ol ul {
  list-style-type: disc;
}

.App {
  text-align: center;
}

#real{
  width: 2000px;
  height: 1000px;
  overflow: visible;
}

#real .css-tonwsg-MuiDataGrid-root{
  border: none;
}

#real .css-1w5m2wr-MuiDataGrid-virtualScroller{
  width: fit-content !important;
  height: fit-content !important;
  margin-top: 56px !important;
  overflow: visible !important;
}

#real .MuiDataGrid-main{
  overflow: visible;
}

#real .MuiDataGrid-root{
  height: 1000px;
}